	<ul id="photo_index" style="margin-left:8px;margin-top:10px;">
		<% if !@photos.nil? %>
			<% @photos.each do | photo | %>
				<%= link_to(photo) do %>
				<li style="display:inline-block;background-image:url(<%= photo.image.url %>) "></li>
				<% end %>
			<% end %>
		<% end %>
	</ul>


