@import "bootstrap";

	#new_photo{
		width:300px;
		margin-left:225px;
		margin-top:20px;
	}
	#individual_photo{
		margin-top:10px;
		/*border:1px solid white;*/
		position:relative;
	}
	#for_clearing{
		clear:both;
	}
	
	#likes{
		/*border:1px solid white;*/
		height:45px;
		border-bottom:2px solid #FF6600;

		a{
			font-size:13px;
		}
		a.like_link{
			font-size:20px;
		}
	}

	#comments{
		margin-top:10px;
		color:white;
		
		label{
			color:white;
		}
		textarea{
			height: 53px;
			width: 449px;
			resize: none;
		}
		input{
			margin-top:-8px;
			margin-left:340px;
		}
		ul{
			list-style-type:none;
			margin: 0 0 18px 0;
		}
		li{
			border-top:1px solid #FF6600;
		}
	}
	
	#individual_photo img{
		float:left;		
		margin-left:10px;
		border:8px solid #FF6600;
		border-radius: 15px;

	}
	#likes_and_comments{
		float:left;
		margin-left:10px;
		width:450px;
		/*border:1px solid white;*/
	}

	#add_new_photo_button{
		width:300px;
	}

	#photo_index{
		list-style-type:none;
	}

	#photo_index li{
		display:inline;
	}

	#photo_index li a img{
		border:5px solid #FF6600;
		border-radius: 5px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.single_photo{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#header2
        {
                position:absolute;
                margin-left:250px;
                margin-top:52px;
        }

        body
        {
                background-color:#FFFFFF;
		font-family: sans-serif;
		/*a:link, a:visited, a:active, a:hover { text-decoration: none; color:#08C;}*/
        }
	body h1{
		color:#FFFFFF;
	}

	#header
	{
		position:static;
		margin-top:0px;
		border-bottom:5px solid #FF6600;
		width:100%;	
		height:35px;
		background-color:#181818;
	}

	#header_content{
		position:absolute;
		margin-top: 10px;
		right:10px;
	}	

	#header_logo{
		position:absolute;
		margin-top: 10px;
		left:20px;
	}	

	#header ul{
		list-style-type:none;	
		}

	#header li{
		display:inline;
		margin-left: 0.5em;
	}

	#content {
		position:relative;
		width:800px;
		border-left:4px solid #FF6600;
		border-right:4px solid #FF6600;
		border-top:4px solid #FF6600;
		border-bottom:4px solid #FF6600;
		left:50%;
		margin-left:-400px;
		min-height:600px;
		margin-top:10px;
		background-color:#181818;
		color:white;
	}
	div#side_nav_bar{
		position:absolute;
		width:190px;
		left:50%;
		margin-top:85px;
		margin-left:-600px;
		height:400px;
	}
	div#side_nav_bar ul li{
		 border-bottom:2px solid #FF6600;
		 margin:2px;
	}

	@mixin box_sizing 
	{
 	-moz-box-sizing: border-box; 
  	-webkit-box-sizing: border-box; 
  	box-sizing: border-box;
	}
	
	.debug_dump {
 		 clear: both;
 		 float: left;
 		 width: 100%;
 		 margin-top: 650px;
 		 @include box_sizing;
	 }

	#user_info_header{
		position:relative;
		height:60px;
		border-top:5px solid #181818;
		border-bottom:4px solid #FF6600;
		background-color:#181818;
		
	}	
	#user_info_header_left{
		float:left;
		height:55px;
		margin-left:10px;
		color:#FFFFFF;
	}
	#user_info_header_center{
		margin-left:15px;
 		float:left;
		position:relative;
		margin-top:-3px;
		height:58px;
	}
	#user_info_header_right{
		margin-left:5px;
 		float:left;
		position:relative;
		margin-top:-3px;
		height:58px;
	}
	.new_friend_request{
		position:relative;
		left:20px;
		top:10px;
	}	
	#add_friend_on_show_page{
		position:relative;
		top:8px;
		height:40px;
	}
	#friend_requests{
		float:left;
		margin-top:8px;
		margin-left:0px;
		border:8px solid #181818;
		width:784px;
		background-color:#181818;
	}
	#friends{
		float:left;		
		margin-left:0px;
		border:8px solid #181818;
		width:784px;
		background-color:#181818;
	}
	#requests{
		list-style-type:none;
		display: block;
		margin-left: 20px;
		margin-right: auto;
	}
	#requests tr{
		height:70px;
		margin-top:5px;
		font-size:24px;
	}
	#requests td {
		left:10px;
	}
	.row
	{
	position:absolute;
	margin-top: 120px;
	margin-left: -10px;
	}

	input, textarea, select, .uneditable-input {
 	 border: 1px solid #bbb;
 	 width: 300px;
	 padding: 10px;
 	 height: 35px;
 	 margin-bottom: 15px;
 	 @include box_sizing;
	}

	#error_explanation {
  		color: #f00;
  		ul {
  		  list-style: none;
  		  margin: 0 0 18px 0;
  		}
	}

	.field_with_errors {
		  @extend .control-group;
		  @extend .error;
	 }
	
	.alert
	{
	position:absolute;
	margin-top:10px;
	margin-left:250px;
	}
	.alert-success
	{
	background-color:#E0E0E0;
	border-color:#E0E0E0;
	}
